@page "/"

<PageTitle>Dorfromantik Score Sheet</PageTitle>

<h1>Dorfromantik Punktezähler</h1>

<fieldset id="feature-selector">
    <legend>Erweiterungen</legend>
    <div>
        <input type="checkbox" id="mill-checkbox" name="mill-checkbox" @bind-value="millExpansion" />
        <label for="mill-checkbox">Mühle</label>
    </div>
    <div>
        <input type="checkbox" id="duel-checkbox" name="duel-checkbox" @bind-value="duelExpansion" />
        <label for="duel-checkbox">Duell</label>
    </div>
</fieldset>

<style>
    #feature-selector {
        margin-top: 1em;
        padding: 1em;
        border: 1px solid gray;
    }
</style>

@code
{
    private bool millExpansion = false;
    private bool duelExpansion = false;
}